# Database credentials
POSTGRES_DB=concourse_production
POSTGRES_PASSWORD=qwerty123
POSTGRES_USER=root

CONCOURSE_POSTGRES_DATABASE=concourse_production
CONCOURSE_POSTGRES_PASSWORD=qwerty123
CONCOURSE_POSTGRES_USER=root

# External access
# This is for the main Concourse user not for HTTP Basic auth
CONCOURSE_BASIC_AUTH_USERNAME=user
CONCOURSE_BASIC_AUTH_PASSWORD=password

# This can be left empty if you're not using a domain
CONCOURSE_EXTERNAL_URL # Use this if no domain is set up
# CONCOURSE_EXTERNAL_URL=http://example.com # Use this if you do have a domain set up
