// Digital ocean token
variable "do_token" { default = "xxxxxxxxxx" }

// Infrastructure region
variable "region" { default = "lon1" }

// Concourse droplet size
variable "droplet_size" { default = "s-1vcpu-1gb" }

// Persistent volume size (gb)
variable "volume_size" { default = 10 }

// Concourse source repo
variable "source" { default = "https://github.com/kshaa/concourse-droplet" }