# Database credentials
POSTGRES_DB=concourse_production
POSTGRES_PASSWORD=qwerty123
POSTGRES_USER=root

CONCOURSE_POSTGRES_DATABASE=concourse_production
CONCOURSE_POSTGRES_USER=qwerty123
CONCOURSE_POSTGRES_PASSWORD=root

# External access
CONCOURSE_EXTERNAL_URL=http://concourse.example.com
CONCOURSE_BASIC_AUTH_USERNAME=root
CONCOURSE_BASIC_AUTH_PASSWORD=asdf1234
CONCOURSE_NO_REALLY_I_DONT_WANT_ANY_AUTH=false
